{% extends "base.html" %}

{% block announce %}
<img src="https://r2devops.io/images/R2-nouvel-an-fete.gif" class="banner-img"/>
New release coming soon  
<div class="banner-icon">
➡️ 
</div>

<a href="https://r2link.io/subscribe" class="banner-link" target="_blank">
    Discover the new features
</a>
<div class="banner-icon-2">
    🌌
</div>

{% endblock %}


{% block extrahead %}
<!-- Plausible -->
<script async defer data-domain="r2devops.io" src="https://plausible.io/js/plausible.js"></script>
<!-- End Plausible -->
{% endblock %}
